{{ define "content"}}
<p>
  Tell us what you would like to deploy, or how to modify your existing
  deployment.
</p>

<form>
  <textarea
    class="textarea textarea-bordered"
    placeholder="Instructions"
    name="instructions"
  ></textarea>
  <button
    hx-post="/deploy"
    hx-trigger="click"
    hx-ext="json-enc"
    hx-target="#response"
    class="btn"
  >
    Submit
    <span class="loading loading-spinner loading-md htmx-indicator"></span>
  </button>
</form>

<div id="response">
  <p>Deploying...</p>
</div>

<h1>Terraform Plan</h1>
<div id="terraform-plan" hx-get="/terraform/plan" hx-trigger="every 5s"></div>
{{ end }}
